@import "tailwindcss";

:root {
  --background: #f8f5f0;
  --foreground: #222222;
  --gold: #c8a165;
  --terracotta: #b66a50;
  --section: #efe8dd;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}